@font-face {
	font-family:title;
	src: url('../../Data/Font/Jalnan.TTF')
}
@font-face
{
	font-family:moetalk;
	src: url('../../Data/Font/Blueaka.woff2') format("woff");
}
body,textarea,button
{
	font-family:moetalk;
}