@font-face
{
	font-family:title;
	src: url('../../Fonts/Jalnan.TTF')
}
@font-face
{
	font-family:moetalk;
	src: url('../../Fonts/Blueaka.woff2') format("woff");
}
@font-face
{
	font-family: 'CyrillicFont';/*匹配西里尔字母*/
	src: local("Arial");
	unicode-range: U+0400-04FF;
}
body,textarea,button
{
	font-family:CyrillicFont,moetalk;
}
.bold
{
	font-family: "Microsoft YaHei", Arial, sans-serif; /* 指定字体 */
}