@font-face {
	font-family:title;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/Jalnan.ttf)
/*	src:url(/font/Jalnan.ttf)*/
}
@font-face {
	font-family:medium;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/Title_Medium.woff) format("woff");
/*	src:url(/font/Title_Medium.woff) format("woff");*/
	unicode-range:U+ac00-d7a3,U+0041-005a,U+0061-007a,U+0030-0039,U+002?,U+003a-0040,U+005b-0060,U+007b-007e,U+11??,U+3130-318f,U+a960-a97f,U+ac00-d7af,U+d7b0-d7ff
}
@font-face {
	font-family:bold;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/Title_Bold.woff) format("woff");
/*	src:url(/font/Title_Bold.woff) format("woff");*/
	unicode-range:U+ac00-d7a3,U+0041-005a,U+0061-007a,U+0030-0039,U+002?,U+003a-0040,U+005b-0060,U+007b-007e,U+11??,U+3130-318f,U+a960-a97f,U+ac00-d7af,U+d7b0-d7ff
}
@font-face {
	font-family:medium-jp;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/GenJyuuGothicX-Medium.ttf)
/*	src:url(/font/GenJyuuGothicX-Medium.ttf)*/
}
@font-face {
	font-family:bold-jp;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/GenJyuuGothicX-Bold.ttf)
/*	src:url(/font/GenJyuuGothicX-Bold.ttf)*/
}
@font-face {
	font-family:medium-cn;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/NotoSansSC-Medium.otf)
/*	src:url(/font/NotoSansSC-Medium.otf)*/
}
@font-face {
	font-family:bold-cn;
	src:url(https://ghproxy.com/https://raw.githubusercontent.com/ggg555ttt/MoeTalk/main/MolluTalk_files/font/NotoSansSC-Bold.otf)
/*	src:url(/font/NotoSansSC-Bold.otf)*/
}
[lang=en],[lang=en] .medium,[lang=ja],[lang=ja] .medium,[lang=ko],[lang=ko] .medium,[lang=zh-tw],[lang=zh-tw] .medium {
	font-family:medium,medium-jp
}
[lang=en] .bold,[lang=ja] .bold,[lang=ko] .bold,[lang=zh-tw] .bold {
	font-family:bold,bold-jp
}
[lang=zh-CN],[lang=zh-CN] .medium,[lang=zh],[lang=zh] .medium {
	font-family:medium,medium-cn
}
[lang=zh-CN] .bold,[lang=zh] .bold {
	font-family:bold,bold-cn
}