/*@MoeScript/Old/Old.css@*/
.edit
{
	width: 100%;
	display: inline-flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
	border-radius: 12px;
background: var(--Surface, #F3F6F8);
box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}
.edit_1
{
	display: flex;
justify-content: center;
align-items: center;
gap: 6px;
}
.edit_1_1
{
	width: 24px;
height: 24px;
}
.edit_1_2
{
	color: var(--m-3-sys-light-on-surface, #1C1B1F);
font-family: Noto Sans SC;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 100% */
letter-spacing: 0.4px;
}
.edit_2
{
	width: 100%;
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 6px;
}
.edit_2_1
{
	display: flex;
/*padding-left: 14px;*/
align-items: flex-start;
gap: 10px;
}
.edit_2_1_1
{
	color: var(--m-3-sys-light-on-surface, #1C1B1F);
/*text-align: right;*/
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
letter-spacing: 0.4px;
}

.edit_button
{
	display: flex;
width: 100%;
height: 40px;
justify-content: center;
align-items: center;
gap: -1px;
}
.edit_button_box_1
{
	display: flex;
height: 48px;
padding: 4px 0px;
justify-content: center;
align-items: center;
flex: 1 0 0;
}
.edit_button_box_2
{
	display: flex;
padding: 10px 12px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
}
.edit_button_icon
{
	width: 18px;
height: 18px;
}
.edit_button_text
{
	color: var(--On-Secondary-Container, #191D2B);
	/*color: var(--On-primary, #44484E);*/
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
/*font-weight: 400;*/
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
}
.edit_button_start
{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
	border-radius: 100px 0px 0px 100px;
border: 1px solid var(--On-secondary, #6F777F);
background: var(--Secondary-Container, #DAE5F1);/**/
}
.edit_button_middle
{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
	border: 1px solid var(--On-secondary, #6F777F);
}
.edit_button_end
{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
	border-radius: 0px 100px 100px 0px;
border: 1px solid var(--On-secondary, #6F777F);
}
.edit_3
{width: 100%;
	display: flex;
padding-top: 6px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.edit_3_box1
{width: 100%;
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
	border-radius: 4px;
border: 1px solid var(--m-3-sys-light-outline, #79747E);
justify-content: flex-end;
}
.edit_3_box2
{width: 100%;
	display: flex;
padding: 8px 0px;
align-items: center;
	border-radius: 4px 4px 0px 0px;
}
.edit_3_box3
{width: 100%;
	display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
	position: relative;/**/
}
.edit_3_box3_1
{width: 100%;
	display: flex;
align-items: center;
padding-top: 5px;
}
.edit_3_box3_1_1
{width: 100%;
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
	outline:none;
	resize: none;
/*	padding: 0.1rem 0.5rem;*/
	font-size: 1.1rem;
	border: 1;
	border-radius: 0.5rem;
	line-height: 1.5rem;
	color: red;
	background-color: transparent;
}
.edit_3_box3_2
{
	display: flex;
padding: 0px 4px;
align-items: center;
	position: absolute;
left: -4px;
top: -16px;
	background: white;
}
.edit_3_box3_2_1
{
	color: var(--m-3-sys-light-on-surface, #1C1B1F);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
letter-spacing: 0.4px;
white-space: nowrap;
}
.edit_4
{
	display: flex;
padding-top: 6px;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}
@font-face{font-family:'bold';src:local('Microsoft YaHei'),local('Arial'),local('sans-serif')}/*粗体*/
.bold/* 加粗 */
{
	font-family: 'bold';
	font-weight: bold;
}